* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Define custom color variables */
:root {
  --bg-color: #ffffff;
  --header: #0d3a66;
  --p: #252525;
  --button-bg: #090909;
  --button-hover-bg: #207cae;
  --subheader: #0d3a66;
}



.dark-theme {
  --bg-color: #000000;
  --header: #ffb700;
  --p: #ffffff;
  --button-bg: #ffffff;
  --button-hover-bg: #5fb8e9;
  --subheader: #ffb700;
}

/* Default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  transition: background-color 0.8s color 0.8s;
}

p {
  color: var(--p);
  line-height: 1.6;
  font-size: 1.7rem;
}

h1,
h2,
h3 {
  color: var(--header);
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
}

/* Nav Bar */

.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-container {

  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--bg-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: var(--button-bg);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--button-hover-bg);
}

#btn {
  cursor: pointer;
}

/* Landing Page */

.hero-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.hero-text p {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--p);
  margin-top: 20rem;
  margin-left: 6.3rem;
}
.hero-text h1 {
  position: relative;
  font-weight: 500;
  font-size: 3.8rem;
  color: var(--header);
  margin-left: 6rem;
}

.inner-headings {
  position: relative;
  font-weight: 500;
  font-size: 3.8rem;
  color: var(--header);
  margin-left: 6rem;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}

.inner-headings span {
  position: relative;
  color: var(--header);
  animation: animation 20s ease infinite;
}
@keyframes animation {
  0%,
  100% {
    top: 0px;
  }
  10% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  30% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  50% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
  70% {
    top: -210px;
  }
  80% {
    top: -280px;
  }
  90% {
    top: -280px;
  }
}

.hero-img img {
  max-width: 38rem;
  height: auto;
  position: relative;
  border-radius: 8rem;
  margin-top: 5rem;
  /* -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.3) 99%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.3) 99%,
    rgba(0, 0, 0, 0) 100%
  ); */
}

.hero-icons {
  position: relative;
  transform: translateY(-50%);
  width: 2rem;
  display: flex;
  margin-left: 6.3rem;
  margin-top: 2rem;
}

.linkedin_landing {
  margin-left: 3rem;
}

.hero-icons a {
  font-size: 3rem;
  color: var(--heading);
  transition: 200ms linear;
  color: var(--button-bg);
}

.hero-icons a:hover {
  color: var(--button-hover-bg);
}

/* About Me */

.about-content-wrapper {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.about-img img {
  max-width: 38rem;
  height: auto;
  position: relative;
  border-radius: 10rem;
  margin-top: 5rem;
  margin-left: 6rem;
}

.about-content {
  position: relative;
  /* height: 10vh; */
  width: 100%;
}
h2 {
  position: relative;
  margin-top: 6rem;
  font-weight: 500;
  font-size: 3.8rem;
}

.about-content p {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--p);
  margin-left: 6.3rem;
  margin-right: 6rem;
  margin-top: 2rem;
}

/* Projects */

.projects-container h2{
  position: relative;
  margin-top: 6rem;

  font-weight: 500;
  font-size: 3.8rem;
}


.inner-projects {
  display: flex;
  position: relative;
  margin-left: 6.3rem;
  margin-right: 6rem;
  margin-top: 2rem;}

.inner-projects h3{
  font-size: 2rem;
  text-align: left;
}

.inner-projects h4{
  color: var(--subheader);
}

.project-name{
  width: 19rem;
  margin-right: 4rem;
}


.project-title h3{
  font-size: 3rem;
}
.project-title h4{
  max-width: 6rem;
}

.smaller-icon {
  font-size: 16px; 
  color: var(--subheader); 
}

.title{
  text-align: center;
}

title p{
  color: #0d71fc;
  font-size:1.3em;
  letter-spacing: 2px;
}

.timeline{
  margin: 5em auto;
  max-width: 34.15em;
}

.checkpoint {
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

.checkpoint div{
  border: 2px solid #888;
  border-radius: 1em;
  padding: 1.5em;
}

.checkpoint p{
  line-height: 27px;
  color: var(--p);
  font-size: 20px;
}

.checkpoint h4{
  line-height: 27px;
  color: var(--p);
}

.checkpoint:nth-child(odd){
  border-left: 3px solid #888;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even){
  border-right: 3px solid #888;
  padding-right: 3em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content:'';
  background:#888;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
  left: 0;
}

.checkpoint:nth-child(even)::before{
  right:0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content:'';
  background:#fff;
  box-shadow: 0 0 0.5em #0d71fc;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}
.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

@media screen and (max-width: 1150px){
  .timeline {
    width: 80vw;
  }
  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .timeline .checkpoint::before{
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline .checkpoint div::before{
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);

  }
}


.NotWorkingOnRightNow {
  visibility: hidden;
}
